{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stations_overview.css' %}">
{% endblock %}

{% block content %}
<div class="title">Stations</div>
{% for row in station_rows %}
<div class="row">
    {% for station_card in row.station_cards %}
    <div class="col-{{ row.col_size }}">
        <a href="{% url 'station_view' station_id=station_card.id %}">
            <div class="card">
                <div class="card-header">
                    <div class="station-name">{{ station_card.name }}</div>
                    <div class="station-location">
                    ϕ: {{ station_card.latitude|floatformat:2 }}°, λ: {{ station_card.longitude|floatformat:2 }}°, E: {{ station_card.elevation|floatformat:0 }}m
                    </div>
                </div>
                <div class="card-body">
                    <div class="station-status">Status: <span style="color: {{ station_card.status_color }};">{{ station_card.status_text }}</span></div>
                    <div class="station-last-updated">Last updated: {{ station_card.last_updated }}</div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<br/>
{% endfor %}
{% endblock %}
