.card {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(100, 100, 120, 0.5);
    height: 180px;
}

.card-header {
    padding: 10px;
    padding-bottom: 2px;
}

.card-body {
    padding: 10px;
}

.station-name {
    font-size: 18px;
    font-weight: bold;
}

.station-location {
    font-size: 12px;
    margin-bottom: 10px;
}

.station-status {
    font-size: 16px;
    margin-bottom: 10px;
}

.station-last-updated {
    font-size: 12px;
}

.btn-approve {
    background-color: #00CC00;
    color: white;
    font-size: 14px;
    width: 70%;
    margin: 0 auto 8px auto;
}

.btn-disapprove {
    background-color: red;
    color: white;
    font-size: 14px;
    width: 70%;
    margin: auto;
}
