.station-container {
    padding-top: 10px;
    min-height: 480px;
}

.card-frame {
    padding: 12px;
}

.card-frame a:link, .card-frame a:visited, .card-frame a:hover, .card-frame a:active {
    text-decoration: none;
    color: black;
    outline: 0;
}

.card {
    text-align: center;
}

.card-header {
    padding: 10px;
    padding-bottom: 2px;
}

.card-body {
    padding: 10px;
}

.station-name {
    font-size: 18px;
    font-weight: bold;
}

.station-location {
    font-size: 12px;
    margin-bottom: 10px;
}

.status {
    font-size: 16px;
    margin-bottom: 10px;
}

.last-updated {
    font-size: 12px;
}
