body {
    height: 100%;
}

.navbar-brand {
    padding: 0px;
}

.footer {
    text-align: center;
    font-size: 12px;
    margin: 12px;
}

.footer a:link, .footer a:visited, .footer a:hover, .footer a:active {
    text-decoration: none;
    color: black;
    outline: 0;
}

.navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
    text-decoration: none;
    color: black;
    outline: 0;
}

.login-btn {
    font-size: 15px;
    padding-right: 18px;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

#login-dp .bottom {
    background-color: rgba(255,255,255,.8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

.station-container {
    padding-top: 10px;
    min-height: 480px;
}

.card-frame {
    padding: 12px;
}
