{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block scripts %}
<script src="https://www.openlayers.org/api/OpenLayers.js"></script>
<script>
    map = new OpenLayers.Map("map");
    map.addLayer(new OpenLayers.Layer.OSM());

    var markers = new OpenLayers.Layer.Markers("Markers");
    {% for coordinates in station_coordinates %}
    var lonLat = new OpenLayers.LonLat({{ coordinates.longitude }}, {{ coordinates.latitude }})
        .transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
    );
    markers.addMarker(new OpenLayers.Marker(lonLat));
    {% endfor %}
    map.addLayer(markers);

    var lonLat = new OpenLayers.LonLat({{ center.longitude }}, {{ center.latitude }})
        .transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
    );
    console.log(lonLat);
    map.setCenter (lonLat, {{ zoom_level }});
</script>
{% endblock %}

{% block content %}
<div id="map" class="map"></div>
{% endblock %}
