.card-station {
    height: 200px;
}

.station-name {
    font-size: 18px;
    font-weight: bold;
}

.station-location {
    font-size: 12px;
    margin-bottom: 10px;
}

.station-status {
    font-size: 16px;
    margin-bottom: 10px;
}

.station-last-updated {
    font-size: 12px;
}

.btn-approve {
    font-size: 14px;
    width: 70%;
    margin: 0 auto 8px auto;
}

.btn-approve:hover {
    background-color: #00BB00;
}

.btn-reject {
    font-size: 14px;
    width: 70%;
    margin: auto;
}

.btn-reject:hover {
    background-color: red;
}

.notes, .notes:focus {
    width: 90%;
    min-height: 300px;
    margin: auto;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.15);
}

.btn-notes-update {
    width: 100px;
    margin: auto;
}

.btn-warning-delete, .btn-warning-delete:hover {
    width: 170px;
    margin: auto;
    background-color: red;
}

.btn-warning-add {
    width: 150px;
    margin: auto;
}

.warnings-empty {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.warning {
    text-align: center;
}

.expression-syntax {
    width: 100%;
    text-align: center;
}

.warnings {
    list-style-position: inside;
    text-align: center;
}

.warning-input-label {
    width: 100%;
    text-align: center;
}

.warning-input, .warning-input:focus {
    width: 70%;
    margin: auto;
    padding: 4px;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.15);
}
