body {
    background-image: url("/static/img/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    outline: 0;
}

.btn, .btn:hover {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
    border-radius: 5px;
    background-color: rgba(220, 220, 255, 0.15);
    color: white;
}

.title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 12px;
}

.card {
    text-align: center;
    border-radius: 5px;
    background-color: rgba(220, 220, 255, 0.15);
}

.card-header {
    padding: 10px;
    padding-bottom: 2px;
}

.card-body {
    padding: 10px;
}

.header {
    border-radius: 5px;
    background-color: rgba(0, 0, 20, 0.75);
    text-align: center;
    margin: 10px 0px 20px 0px;
    padding: 16px; }

    .header .title {
        font-size: 22px;
    }

    .header .nav-row {
        margin-top: 12px;
    }

    .header .logo {
        height: 60px;
        margin: 0 5px 0 5px;
    }

    .header .nav-btn {
        border-radius: 5px;
        background-color: rgba(220, 220, 255, 0.15);
        width: 130px;
        display: inline-block;
        padding: 4px;
    }

    .header .login-btn {
        font-size: 15px;
        margin-right: 8px;
    }

    .header .login-menu {
        font-size: 15px;
        padding: 12px 20px 0px 20px;
        border-radius: 5px;
        background-color: rgba(0, 0, 20, 0.75); }

        .header .login-menu .field {
            width: 180px;
}

.content {
    border-radius: 5px;
    background-color: rgba(0, 0, 20, 0.75);
    min-height: 450px;
    padding: 16px;
}

.footer {
    border-radius: 5px;
    background-color: rgba(0, 0, 20, 0.75);
    text-align: center;
    margin: 20px 0px 10px 0px;
    font-size: 12px;
    padding: 16px;
}

#messages {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
}

#messages.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.messages-list {
    text-align: center;
    margin-bottom: 0px;
}

.message {
    padding-right: 25px;
}
